* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: red;
  font-family: 'Poppins', sans-serif;
}

#main {
  background: white;
  margin: 1.7rem 0.5rem;
  padding: 1rem 1rem;
  border-radius: 0.3rem;
}

header {
  padding: 1rem 1rem 0rem 1rem;
  text-align: center;
}

header h1 {
  margin: 1rem 3rem 0.7rem 3rem;
  font-family: 'Poppins', sans-serif;
  font-size: 2.9rem;
}

header p {
  font-family: 'Poppins', sans-serif;
}

main {
  margin: 1rem 1rem;
  color: rgb(51, 50, 50);
  border-radius: 0.4rem;
}

#img-div {
  background: black;
  padding: 1rem 1rem;
  text-align: center;
}

#image {
  display: block;
  max-width: 100%;
  height: auto;
}

#img-caption {
  margin-top: 0.7rem;
  color: white;
}

#tribute-info {
  text-align: center;
}

#tribute-info h3 {
  margin: 3rem 0;
}

.history {
  max-width: 34.37rem;
  margin: 0 auto 3.12rem auto;
  text-align: left;
  line-height: 1.6;
}

ul li {
  margin: 1rem 0;
}

.blockquote {
  max-width: 34.37rem;
  margin: 0 auto 3.12rem auto;
  text-align: left;
  line-height: 1.6;
  color: rgb(95, 95, 95);
  font-style: italic;
}

.blockquote p {
  margin-bottom: 0.5rem;
}

.link {
  text-align: center;
}
